.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Jost;
  width: 243px;
  margin: 42px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 50px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0px 0px;
  min-height: 3568px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-1 .u-image-10 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 30px;
}

.u-section-1 .u-image-11 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-1 .u-image-12 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 30px;
}

.u-section-1 .u-image-13 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 30px;
}

.u-section-1 .u-image-14 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 30px;
}

.u-section-1 .u-image-15 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px 30px;
}

.u-section-1 .u-image-16 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 20px 30px;
}

.u-section-1 .u-image-17 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 20px 30px;
}

.u-section-1 .u-image-18 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 20px 30px;
}

.u-section-1 .u-image-19 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 20px 30px;
}

.u-section-1 .u-image-20 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 2636px;
  }

  .u-section-1 .u-image-1 {
    height: 213px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-2 {
    height: 213px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-3 {
    height: 213px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-4 {
    height: 213px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-5 {
    height: 213px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-6 {
    height: 213px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-7 {
    height: 213px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-8 {
    height: 213px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-9 {
    height: 213px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-10 {
    height: 213px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-11 {
    height: 213px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-12 {
    height: 213px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-13 {
    height: 213px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-14 {
    height: 213px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-15 {
    height: 213px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-16 {
    height: 213px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-17 {
    height: 213px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-18 {
    height: 213px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-19 {
    height: 213px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-image-20 {
    height: 213px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.88235rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 2174px;
  }

  .u-section-1 .u-image-1 {
    height: 169px;
  }

  .u-section-1 .u-image-2 {
    height: 169px;
  }

  .u-section-1 .u-image-3 {
    height: 169px;
  }

  .u-section-1 .u-image-4 {
    height: 169px;
  }

  .u-section-1 .u-image-5 {
    height: 169px;
  }

  .u-section-1 .u-image-6 {
    height: 169px;
  }

  .u-section-1 .u-image-7 {
    height: 169px;
  }

  .u-section-1 .u-image-8 {
    height: 169px;
  }

  .u-section-1 .u-image-9 {
    height: 169px;
  }

  .u-section-1 .u-image-10 {
    height: 169px;
  }

  .u-section-1 .u-image-11 {
    height: 169px;
  }

  .u-section-1 .u-image-12 {
    height: 169px;
  }

  .u-section-1 .u-image-13 {
    height: 169px;
  }

  .u-section-1 .u-image-14 {
    height: 169px;
  }

  .u-section-1 .u-image-15 {
    height: 169px;
  }

  .u-section-1 .u-image-16 {
    height: 169px;
  }

  .u-section-1 .u-image-17 {
    height: 169px;
  }

  .u-section-1 .u-image-18 {
    height: 169px;
  }

  .u-section-1 .u-image-19 {
    height: 169px;
  }

  .u-section-1 .u-image-20 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 3568px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
  }

  .u-section-1 .u-image-5 {
    height: 200px;
  }

  .u-section-1 .u-image-6 {
    height: 200px;
  }

  .u-section-1 .u-image-7 {
    height: 200px;
  }

  .u-section-1 .u-image-8 {
    height: 200px;
  }

  .u-section-1 .u-image-9 {
    height: 200px;
  }

  .u-section-1 .u-image-10 {
    height: 200px;
  }

  .u-section-1 .u-image-11 {
    height: 200px;
  }

  .u-section-1 .u-image-12 {
    height: 200px;
  }

  .u-section-1 .u-image-13 {
    height: 200px;
  }

  .u-section-1 .u-image-14 {
    height: 200px;
  }

  .u-section-1 .u-image-15 {
    height: 200px;
  }

  .u-section-1 .u-image-16 {
    height: 200px;
  }

  .u-section-1 .u-image-17 {
    height: 200px;
  }

  .u-section-1 .u-image-18 {
    height: 200px;
  }

  .u-section-1 .u-image-19 {
    height: 200px;
  }

  .u-section-1 .u-image-20 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 347px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 347px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 347px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 347px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 347px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 347px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 347px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 347px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 347px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 347px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 347px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 347px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 347px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 347px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 347px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 347px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-18 {
    height: 347px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 347px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 347px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 214px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 214px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-4 {
    height: 214px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    height: 214px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    height: 214px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-7 {
    height: 214px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-8 {
    height: 214px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-9 {
    height: 214px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-10 {
    height: 214px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-11 {
    height: 214px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-12 {
    height: 214px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-13 {
    height: 214px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-14 {
    height: 214px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-15 {
    height: 214px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-16 {
    height: 214px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-17 {
    height: 214px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-18 {
    height: 214px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-19 {
    height: 214px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-20 {
    height: 214px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }
}