.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-1 .u-image-1 {
  width: 409px;
  height: 427px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 43px;
}

.u-section-1 .u-text-1 {
  font-family: Jost;
  font-weight: 600;
  font-size: 4.5rem;
  margin: 114px auto 0 17px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 17px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 20px auto 0 17px;
  padding: 10px 23px 12px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-style: normal;
  margin: -51px 17px 0 auto;
  padding: 10px 23px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 42px;
    padding-right: 42px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-right: 18px;
    padding: 11px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 339px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 2.625rem;
    margin-top: 144px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-bottom: -68px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 600px;
  background-image: url("images/image9.png");
  background-position: 61.99% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 771px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 43px;
}

.u-section-2 .u-text-1 {
  font-family: Jost;
  font-weight: 700;
  font-size: 3rem;
  margin: 5px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 636px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2 .u-image-1 {
    min-height: 126px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 755px;
}

.u-section-3 .u-text-1 {
  font-family: Jost;
  font-weight: 700;
  font-size: 3rem;
  margin: 82px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 488px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 4px 29px;
}

.u-section-3 .u-icon-1 {
  height: 146px;
  width: 146px;
  background-image: none;
  margin: 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 4px 29px;
}

.u-section-3 .u-icon-2 {
  height: 146px;
  width: 146px;
  background-image: none;
  margin: 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 4px 29px;
}

.u-section-3 .u-icon-3 {
  height: 146px;
  width: 146px;
  background-image: none;
  margin: 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 4px 29px;
}

.u-section-3 .u-icon-4 {
  height: 146px;
  width: 146px;
  background-image: none;
  margin: 0 auto;
  padding: 27px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 400px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: -31px;
    margin-right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1258px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 760px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Jost;
  font-size: 3.75rem;
  width: 789px;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 823px;
}

.u-section-5 .u-text-1 {
  width: 435px;
  font-family: Jost;
  font-weight: 700;
  font-size: 3rem;
  margin: 44px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 52px 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(250,159,53,0.15), rgba(250,159,53,0.15)), url("images/dsc01498-816x459.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(250,159,53,0.15), rgba(250,159,53,0.15)), url("images/dsc01418-2-816x459.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(250,159,53,0.15), rgba(250,159,53,0.15)), url("images/dsc01471-816x459.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
  margin: 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 400px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    background-position: 43.81% 50%;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 936px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 797px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Jost;
  font-size: 3rem;
  margin: 33px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 10px 0 0 512px;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 0 0 512px;
}

.u-section-6 .u-text-7 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-6 .u-layout-wrap-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  margin: 10px 0 0 512px;
}

.u-section-6 .u-text-10 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 336px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 375px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 336px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 375px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-3 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    height: 336px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-text-8 {
    position: relative;
  }

  .u-section-6 .u-text-9 {
    position: relative;
    margin-left: 375px;
  }

  .u-section-6 .u-text-10 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2021px;
  }

  .u-section-6 .u-image-1 {
    height: 813px;
    object-position: 50% 0%;
    background-position: 50% 0%;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-image-2 {
    height: 813px;
    object-position: 50% 0%;
    background-position: 50% 0%;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-image-3 {
    height: 813px;
    object-position: 50% 0%;
    background-position: 50% 0%;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1556px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 610px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 235px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 610px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 235px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-7 {
    margin-top: 20px;
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 610px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 235px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-6 .u-image-1 {
    height: 384px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 35px;
  }

  .u-section-6 .u-image-2 {
    height: 384px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-6 {
    margin-left: 35px;
  }

  .u-section-6 .u-image-3 {
    height: 384px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-9 {
    margin-left: 35px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1340px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-family: Jost;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1060px;
  margin: 75px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 450px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-group-1 {
  width: 403px;
  min-height: 345px;
  height: auto;
  margin: 14px 18px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-group-2 {
  width: 403px;
  min-height: 345px;
  height: auto;
  background-size: auto;
  margin: 14px 18px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-5 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-7 .u-list-2 {
  grid-template-rows: auto;
  height: auto;
  margin: 20px 0 0;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 509px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 360px;
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-6 {
  background-image: none;
  font-size: 1.23529rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-btn-7 {
  background-image: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 360px;
  margin: 0 auto;
}

.u-section-7 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-8 {
  background-image: none;
  font-size: 1.23529rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-btn-9 {
  background-image: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 360px;
  margin: 0 auto;
}

.u-section-7 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-15 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-10 {
  background-image: none;
  font-size: 1.23529rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-btn-11 {
  background-image: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 163px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-group-2 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-7 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 418px;
  }

  .u-section-7 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-group-2 {
    min-height: 216px;
    margin-top: 72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-btn-4 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 978px;
  }

  .u-section-7 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 30px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-7 .u-group-2 {
    min-height: 252px;
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 30px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-15 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 472px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 14px 0;
  }

  .u-section-7 .u-text-2 {
    width: 254px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 14px 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 174px;
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-6 {
    width: 254px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-7 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}